Source: epubreader
Section: user/education
Priority: extra
Maintainer: Євгеній Мещеряков <eugen@debian.org>
Build-Depends: debhelper (>= 5), libqt4-dev (>= 4.7)
XSBC-Maemo-Display-Name: E-Book Reader
Standards-Version: 3.8.4

Package: epubreader
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
XB-Maemo-Icon-26:
	iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABHNCSVQICAgIfAhkiAAAAAlwSFlz
	AAAFMQAABTEBt+0oUgAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAmMSURB
	VGiBvZpLjBxXFYa/U9XV1dVPT2Y8jj2xExspMcHESiAKREGQECSvEgkhEBuI2IKQ8IY1GySWWSCx
	Y8cS1oBQhIQiILFETBISnNiJPX7My9Pd8+iuqvtgUV3V1dWvmXFESeO6fW+5+v/v+f9z7q1qsdby
	/zpERNJm7py2sdaqQ9/zsyAwB5i8+iqVS187+cTC0oWvNJrHv1jxK496FfdE2Y1bfiVuVj0VdHdl
	/+9vb778k8t/fucw3106ILiJwH72GrWnzp86/7tfP/9stbn4ed8vP+YHzsMVXxYqnmoEFVVt1E25
	WbeuH2g8dxvhJtAB2wNM/quqd24u/kJEvm2tHRk4FAERKQEucBJ41HGcZ5rN5oWvPnP8C5d/9MiZ
	YwtSrvoE9ZrxF+rWLZUNnruHKx+A3QMJQRSIHdJ1ki60BSc3DTL63Q+11h8f7z0EARHxz549e3N5
	efl4GIYShiHdbpfTp09z8lSDl568Ao4ZBadA9BBo0l8AClgBRBALOKPk0uPUSef0kQkMpPL86dOn
	l+v1Otvb22it8TyPOI7Z6pbRyuC6gCPJ19gEqB2AEVLQAnmgdkjOCoiVwWc7MnbmlNQuX8ZLpuVg
	R44/ApzVWqeEcF03IxAry9qmJLLN/gT08LPVjI7r3PX567JrZWSsVEKee7Ly7MHnf5QAwJl+v4+I
	4DgOSikcxyGOY5RS3NlwxsAkJGSEhC2SLAAdIZKOp2Oal3NZ7dAEmvv7+ziOg4ggImitUUoRRRF3
	N7whuOJsF4DaAcDhdQWgubGMiBbqVefZCbimHsUsdL3X6yXMHCebfREhjmM2Oj6YcKB5OzAkBZ1P
	8IcFyUw92x9Lx+QJDmHkPAELXO31eqQRTCNgrUUpxVa3ArqbAbUDoDJGIgU6zEZ2hATJPzJOYmXZ
	OXkYAlmobFKS3+v1euR9EAQBSiniOObT9VJBFoCRUd0X/ZHKqugPzZjsMHBySSq/+VWrfmgCg2On
	3+/rfr+f+aBSqaC1TlLpTgVrLNbYiUAnkpgAdKo/TDL1i7X4hYMauUjARlHUS2UkIpTL5SwjdXoB
	VtuMhNV2DKhNiUww61hEiqlXJ+Mi9kUOKKMxAkC73+8DZOYVEZRS9GKH9o7FajB6SGJ85mU4yxOj
	MlpPbIFso+Z86agEADbyEsrXgjiOWV2XXATIkbDjs61lDolCNAbtpaZ87qgELLCaT6VAloWUUtzb
	doazb+xIJMwkf+icrIp/eX/kasLpE87yQQkU64AFroVhmHkAQCmVndfaHtbEoykzbRf6JFszAc6E
	tFusH4P6sNgU7/evV48Dd+YRmCSh96IoIvWB4zgjmejdT5zC7DNok8kqiQTT/VFcbkzwh1by0kEy
	0SQJXen1euSjUK1Ws/XQx/ckA5bX/0h7Qt9cfxQWgSVXvs4BZDQiIWutFZHraQTq9ToiQhAEGGNQ
	SrHTLyfAcpV1YtuCdRJl5NuSrrsFsIIdLKtHliUCrcBePDSBwdEHVL/fLzUaDUQEYwzW2kRG1JL8
	n2o+3ZQcwBP5PpHZ/ji+4Dx2EALTVn37eQmle4Q4jumpClFEQUaFs2HoD20xpuAPXfDHhGXJmWV3
	8agELNAOwxAYLujScxQrbm8N9W9MIY1O88Qsf0zYX9R8nD++3jh3VAJrURRlHcaYzANJKnVnAprY
	Vxg3E/qK0ejs2W/Oy0TTJHQrDEPSggbg+362Kv1kw51axIqRmNbOEzOFvjRjVUq8wBwZTYvAh1EU
	EYYh6YOvSqWSEXjjXXKzOq5/qwvnA46b3HUYaFXlwjwCk7KQBd5JU2kQBFhr8X0/215+eFtjNMhg
	VzUzdQ4yVdZ20icTg3Z+o5PLVNaBhxfkzFEIAFwBCMOQIAgSVoM0qpTCioc1/YOnzgOm1mLfypI0
	X/sGJWY8ZhmT0GBntgrYMAyzGmCtzYzsepW5Wh7zxDx/jNwnkZEnyHcuVS/MisA0E2tAxXGcgU8X
	dFprdsLyRN0+iP5HrxsS29/nW7My0ayHu/txHLeKEdBasx8atvcdFqomoTpDy3lpTPTHDE9YC5Wy
	fS531wMTsEA3juNWmom01iNGvtctsVBNaoU1o08X5pr0EJ5YqPIkM4w8TUIWWIvjmCiKMMYA4Hle
	RuDNa87Y/3iQwjb0BCOeePghZ+UoBAA+TfcAaSV2XTeT0Z+u6snM7VDfo4AmrJMK+4hRYsl9TrSo
	/vbnBEeJwPtAFoHUC2km+s/q7AfIGZhDrIkm7yMsxyr+c0ch8BaQRSAFn0agWXVnEkjvMms5MW9v
	nV7XD+3U3dlEEw82Nm9Dkja11mP1oBrMrC/jRKw9nImF5D2EtVQ9+fJgZEy3s9LoFmCVUlIkYYxh
	e2/u67VxHpbBaybBih286LBYK4NliWCtTR4GOCVwa4Qm4OqtnQ6Eh0qjkMyDMsZ4aUHTWuM4DsYY
	NruGfixUvMO/5bTWQbwajr+AKdXZiywbHU1oLFo8NBVUaYGYgCrvQ7Pyy2kv/uYRCI0xXlqFjTEZ
	Aa01a12HRxeLUZUEXGURx18kloDuvmGzE6HFQYmH0iV6fZe+LqGdY1SOnaP1+DNUGisE5TK+71Mu
	lym7faJrP6Xy8Y0XReRfdsI74Xk66Fpr62kRS/fHSilqtRpv3Fnhh0+dY3s3orurUFaIKdHvafba
	lv3Qgn+c+tJ5muefxg+aVMtlPM/D8zxc16VUKmWPbtLJsSbGhOuY3g20htVNd3LOhukvukXEBd4S
	kaeXl5fxfZ96vU6r1aLRaBAEASdqW5x9ZAnv2DmaS+dpNBo0Gg2q1Sr1ep1SqUSpVMLzPHzfx/f9
	JIrEmGiDuL+OqG1QHdrbt7i/eYf1u7fZ3Lqv2zu6v70TtW982v7HH/6y/r1pb/HnSehaq9V6+tKl
	SyPggiCgVqvRbDZpNBo0m00WFhZoNBr4vo9DhInWMeFdrGoT72/Tvn2HrfVVtjbu2c3tttrZM737
	nX57a2tvfX2zfaO9o95d3Yje/ORW+A7QGXy/JUmKUyMwT0JvrKysfPfixYsZ0Farhe/77O7u8shS
	xPHWPv3eTTpr97j23m3ub92z7fZe1N3TvU6nt313bfvu+kb7v529+N8f3Qz/em8z/gjYz02Szbcn
	6XzWMfO3EiLScl137ZVXXvHDMOTWrVtcv37d7u3t9YD7P/7Bxd29nfadjfudDzq76srVa/Hfut1w
	FYgLADOQhwX4oAQEeBz4PnAd+CdwcwBwZObSz581wHnH3F+rFH7s8ZnP4IMe/wO+rxR80c9/JQAA
	AABJRU5ErkJggg==
Description: Reader for EPUB E-books
 E-Book reader optimized for Nokia N900. It currently supports only EPUB file
 format.
