[Desktop Entry]
Version=0.1
Type=Application
Name=E-Books
Exec=/opt/usr/bin/epubreader

Icon=epubreader
X-Window-Icon=epubreader

MimeType=application/epub+zip;

X-Osso-Service=org.opensource.epubreader.Reader
